<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>List Users</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDark"
                aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDark">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">admin@mail.ru</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">with roles: </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">ADMIN </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">USER </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-sm-2">
            <br>
            <ul class="nav nav-pills nav-fill flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10 bg-light">
            <br>
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#user_table">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#createUser">New User</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane container-fluid active" id="user_table">
                    <div class="row">
                        <div class="col border bg-light">
                            <h6>All users</h6>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center align-middle">Id</th>
                                    <th class="text-center align-middle">Username</th>
                                    <th class="text-center align-middle">Password</th>
                                    <th class="text-center align-middle">Email</th>
                                    <th class="text-center align-middle">Age</th>
                                    <th class="text-center align-middle">Role</th>
                                    <th class="text-center align-middle">Edit</th>
                                    <th class="text-center align-middle">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${allUsers}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.password}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td>
                                        <table>
                                            <tr th:each="role : ${user.roles}">
                                                <td th:text="${role.name}"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:attr="data-target='#editModal' + ${user.id}">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:attr="data-target='#deleteModal' + ${user.id}">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--                Add New User-->
                <div class="tab-pane fade" id="createUser">
                    <div class="d-flex justify-content-center align-items-center">
                        <form class="col-12 col-md-6 col-lg-4 text-left" th:action="@{/admin/registration}"
                              th:object="${user}" method="post">
                            <h5 class="col-form-label">Add New User</h5>
                            <div class="form-group">
                                <label for="usernameNew" class="col-form-label">Username</label>
                                <input type="text" class="form-control" id="usernameNew" name="username"
                                       placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <label for="ageNew" class="col-form-label">Age</label>
                                <input type="number" class="form-control" id="ageNew" name="age" placeholder="Age"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="passwordNew" class="col-form-label">Password</label>
                                <input type="password" class="form-control" id="passwordNew" name="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="emailNew" class="col-form-label">Email</label>
                                <input type="email" class="form-control" id="emailNew" name="email" placeholder="Email"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="roleNew" class="col-form-label">Roles</label>
                                <select multiple class="form-control" name="roles">
                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                            th:text="${role.name}"></option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add new User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modals -->
<div th:each="user : ${allUsers}">
    <div class="modal fade" th:id="'editModal' + ${user.id}" tabindex="-1" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="idEdit" class="col-form-label">ID</label>
                            <input type="text" class="form-control" id="idEdit" th:value="${user.id}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="nameEdit" class="col-form-label">Username</label>F
                            <input type="text" class="form-control" id="nameEdit" name="username"
                                   th:value="${user.username}">
                        </div>
                        <div class="form-group">
                            <label for="passwordEdit" class="col-form-label">Password</label>
                            <input type="text" class="form-control" id="passwordEdit" name="password"
                                   th:value="${user.password}">
                        </div>
                        <div class="form-group">
                            <label for="emailEdit" class="col-form-label">Email</label>
                            <input type="email" class="form-control" id="emailEdit" name="email"
                                   th:value="${user.email}">
                        </div>
                        <div class="form-group">
                            <label for="ageEdit" class="col-form-label">Age</label>
                            <input type="number" class="form-control" id="ageEdit" name="age" th:value="${user.age}">
                        </div>
                        <div class="form-group">
                            <label for="roleEdit" class="col-form-label">Roles</label>
                            <select multiple class="form-control" name="roles">
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modals -->
<div th:each="user : ${allUsers}">
    <div class="modal fade" th:id="'deleteModal' + ${user.id}" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/delete/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="idDelete" class="col-form-label">ID</label>
                            <input type="text" class="form-control" id="idDelete" th:value="${user.id}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="usernameDelete" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="usernameDelete" name="username"
                                   th:value="${user.username}">
                        </div>
                        <div class="form-group">
                            <label for="ageDelete" class="col-form-label">Age</label>
                            <input type="number" class="form-control" id="ageDelete" th:value="${user.age}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="roleDelete" class="col-form-label">Roles</label>
                            <select multiple class="form-control" name="roles" readonly>
                                <option th:each="role : ${user.roles}" th:text="${role.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>