<div class="p-3 bg-light border">
    <h5 class="card-header">Add new user</h5>
</div>
<div class="d-flex justify-content-center border" style="padding-top: 15px;">
    <form th:method="POST" th:action="@{/admin}" th:object="${newUser}" class="col-md-3"
          style="text-align: center;" required>
        <div class="mb-3">
            <label for="username" class="form-label fw-bold">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username"
                   placeholder="Username" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label fw-bold">Age</label>
            <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="Age"
                   required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fw-bold">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email"
                   placeholder="Email" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                 class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fw-bold">Password</label>
            <input type="text" th:field="*{password}" class="form-control" id="password"
                   placeholder="Password" required>
        </div>
        <label for="roles" class="fw-bold">Role</label>
        <select class="form-select" id="roles" name="roles" multiple
                th:size="${#sets.size(allRoles)}" required>
            <option th:each="role: ${allRoles}" th:value="${role.id}"
                    th:text="${#strings.substringAfter(role.roleName, 'ROLE_')}"></option>
        </select>

        <input class="btn btn-success" type="submit" value="Add new user"
               style="padding: 0.5em; font-size: 18px; margin: 1em 0;"/>
    </form>
</div>
</div>
</div>
</div>
</div>